torch
torchvision
fastapi
uvicorn[standard]
python-multipart
Pillow
langchain
langchain-core
langchain-community
langchain-groq
langchain-text-splitters
langchain-mongodb
langchain-nomic
langchain-cohere
pymongo
cohere
beautifulsoup4
requests
lxml
pydantic
python-dotenv
nest-asyncio
grad-cam
numpy
opencv-python-headless
